header {
  position: fixed;
  background-color:#66FFFF;
  top:0px;
  left:0px;
  width: 100%;
  height:25px;
}
header h3 {
  position: fixed;
  color: white;
  text-align: center;
}
nav {
  margin-top: 25px;
  margin-bottom: 0px;
  background-color: gray;
}
nav li {
  color:#66FFFF;
  display: inline;
  text-align: right;
}
#left section {
  float: left;
  width:50%;
  height: 100%;
  background-color: black;
  
}
#left p {
  color:white;
}
#right section {
  float: right;
  width: 50%;
  height:100%;
  background-color: black;
}
footer {
  clear:both;
  background-color:#66FFFF;
}
