h3 {
  background color: blue;
}
#high {
  background-color: red;
  background-size : 80px 60px;
}
#high li {
  color:white;
  list-style-type: circle;
}
#low {
  background-color: gray;
  background-size : 80px 60px;
  
}
#low li {
  list-style-type: disc;
}
#medium {
  background-color: orange;
  background-size : 80px 60px;
  
}
#medium>li {
   color: rbg(255,10,10);
   list-style-type:square;
}
#done {
  background-color: black;
  background-size : 80px 60px;
 
}
#done>li {
   color : rbg(200,80,100);
   list-style-type:square;
}
