section {
  margin:5px;
  border: 2px solid black;
  overflow: auto;
  display: inline;
  float: left;
}
footer {
  clear: both;
}
h3 {
  text-decoration: underline;
}
li {
  list-style-type: circle;
}
.high {
  background-color: red;
  color:white;
}

.low {
  background-color: gray;
  color:black;
}

.medium {
  background-color: orange;
  color: rgb(195,82,45);
  
}

.done {
  background: green;
   color : rgb(0,225,225);
   text-decoration: line-through ;
 
}
#here {
  text-decoration: none;
}

