section {
  margin:5px;
  border: 2px solid black;
  overflow: auto;
  display: inline;
  float: left;
}
footer {
  clear: both;
}
h3 {
  text-decoration: underline;
}
li {
  list-style-type: circle;
}
.high {
  background-color: red;
}
li.high  {
  color:white;
}
.low {
  background-color: gray;
  
}
li.low  {
  color: black;
}
.medium {
  background-color: orange;
  
}
li.medium  {
   color: rgb(195,82,45);
}
.done {
  background: green;
 
}
li.done  {
   color : rgb(0,225,225);
   text-decoration: line-through ;
}
