  h1 {
    color :purple;
    
  }
   h3 {
    color: blue;
  }
  h4 {
    color : green;
  }
 

  .high {
    color : red 
  }
  .medium {
    color : orange
  }
  .low {
    color : gray
  }
  .done {
    text-decoration : line-through
  }
