h3 {
  text-decoration: underline;
}
li {
  list-style-type: circle;
}
#high {
  background-color: red;
}
#high li {
  color:white;
}
#low {
  background-color: gray;
  
}
#low li {
  color: black;
}
#medium {
  background-color: orange;
  
}
#medium>li {
   color: rgb(64,0,0) 
}
#done {
  background: black;
 
}
#done>li {
   color : rgb(0,255,255);
   text-decoration: line-through ;
}
