h1 {
   text-align: center;
}
ul {
   list-style-type: none;
}
.todobox {
   font-size: 20px;
   margin-left: auto;
   margin-right: auto;
   background-color: purple;
   height: 200px;
   width:75%;
}
.high {
   color: red;
}
.medium {
   color: orange;
}
.low {
   color: gray;
}
.done {
   text-decoration: line-through;
}
section.enterTask {
   padding: 2px;
   margin-top: 25px;
   margin-left: auto;
   margin-right: auto;
   width:75%;
   height:auto;
   background-color: purple;`
}

